{% extends "records/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

<style>
    b{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
</style>

{% block content_left %}
    <div class="col-md-12 d-flex justify-content-center text-center" >
        <div class="content-section border-5" style="border-radius: 10px;">
        <legend class="border-bottom mb-4 mt-2">
            <b style="font-size: 1.5rem; font-weight: 700;">Welcome to the Alumni Portal for DOECE</b>
        </legend>

        <img class="img-fluid w-100" src="{% static 'pictures/college.png' %}">
        <br><br>

        The Department of Electronics and Computer Engineering organized a celebration program to mark the 25th year of BE program in our department.
            <br> An alumni year book was released on that occasion which can be downloaded <a href="{% static 'ebook_Alumni_Silver_jubilee.pdf' %}">here</a>
{#            <br><br>To view your yearbook, enter program and batch in the alongside form.#}
{#            <br>#}
{#            You can update your info <a href="{% url 'alumni-login' %}">here</a>#}
            <br><br>
            For Facebook group of DOECE Alumni, click <a href="https://www.facebook.com/groups/329629637950764/">here</a>
        </div>

    </div>
{% endblock %}

{% block content %}
    <div class="col-md-12 d-flex justify-content-center text-center">
        <div class="content-section" style="border-radius: 10px;">
            <legend class="border-bottom mb-2 mt-2">
                <b>View Your Yearbook</b>
            </legend>
            <br>
            {% crispy form %}
            <hr>
            <b>Records of Diploma alumni are available <a href="{% static 'doece_diploma.pdf' %}">here</a></b>
            <br>
            <hr>
            <!-- <legend class="border-bottom mb-2 mt-2">
                <b>View/Update your information</b>
            </legend>
                <-- Do you want to view or update your information?<br>
                Login below: -->
            <!-- <div style="text-align:center;">
                <a href="{% url 'alumni-login' %}" class="btn btn-primary">Login</a>
            </div> --> 
        </div>
    </div>
{% endblock %}